@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  min-height: calc(100vh - 113px);
  max-height: calc(100vh - 113px);
  background: #073263;
  background: linear-gradient(180deg, #073263, 70%, #466e9b);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  border-radius: 8px;
  width: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #466e9b;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
.animate-gradient {
  animation: rotateGradient 10s linear infinite;
  background: linear-gradient(45deg, #ff5252, #33d9b2, #ffb142, #6ab04c);
  background-size: 400% 400%;
}
@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient2 {
  animation: rotateGradient2 10s linear infinite;
  background: linear-gradient(45deg, #cbfde7, #e5c48e, #169c7f, #4cb079);
  background-size: 400% 400%;
}
@keyframes rotateGradient2 {
  0% {
    background-position: 5% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 5% 50%;
  }
}
.animate-gradient3 {
  animation: rotateGradient2 10s linear infinite;
  background: linear-gradient(45deg, #ff6b6b, #f8b195, #8ab6d6, #ffcc5c);
  background-size: 400% 400%;
}
@keyframes rotateGradient2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient4 {
  background: linear-gradient(45deg, #ff6b6b, #f8b195, #8ab6d6, #ffcc5c);
  background-size: 400% 400%;
}

#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  transform: scale(0.5);
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #073263;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6) {
  top: 36px;
}

#nav-icon.open span:nth-child(1),
#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),
#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}
.border1 {
  border-radius: 8px;
  border: 2px soli black;
  width: 213px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.hei {
  height: 170px;
}
.font {
  color: #707070;
  font-family: Archivo;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.animate-gradient5 {
  animation: rotateGradient2 10s linear infinite;
  background: linear-gradient(45deg, #24612b, #2caf74);
  background-size: 500% 200%;
}
@keyframes rotateGradient2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient6 {
  animation: rotateGradient 10s linear infinite;

  background: linear-gradient(45deg, #3ed29e, #33d975, #4294ff, #6ab04c);

  background-size: 400% 400%;
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.circle {
  animation: hue 5s alternate infinite;
  background: linear-gradient(
    90deg,
    rgb(113, 182, 184) 0%,
    rgb(200, 94, 156) 50%
  );
}

@keyframes hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.text-size {
  color: #707070;
  font-family: Archivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text-size2 {
  color: #101011;
  font-size: 20px;
  font-style: medium;
  font-weight: 600;
  line-height: normal;
}

.content {
  color: #0f66cc;
  font-size: 17px;
  font-style: medium;
  font-weight: 700;
  line-height: normal;
}

.fisc {
  color: #101011;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
}

.css-prop-demo {
  position: relative;
  width: 300px;
  height: 150px;
  overflow: hidden;
}
.css-prop-demo .el {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: #ff5733; /* Set your desired background color */
  border-radius: 50%;
  transform: translate(-40%, -40%);
  animation-name: animeAnimation;
  animation-duration: 2s; /* Adjust the duration as needed */
  animation-timing-function: ease-in-out; /* You can try different easing functions here */
}
@keyframes animeAnimation {
  0% {
    left: 50%;
    border-radius: 50%;
  }
  100% {
    left: 240px;
    border-radius: 50%;
  }
}

/* Styles for the container element */
.specific-prop-params-demo {
  width: 400px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

/* Styles for the element to be animated */
.specific-prop-params-demo .eli {
  width: 50px;
  height: 50px;
  background-color: #ff5733; /* Set your desired background color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animationSequence 6.6s ease-in-out infinite alternate;
}

/* Define the keyframes for the animation */
@keyframes animationSequence {
  0% {
    transform: translateX(0) rotate(0) scale(0);
  }
  33% {
    transform: translateX(250px) rotate(120deg) scale(1);
  }
  66% {
    transform: translateX(250px) rotate(240deg) scale(2);
  }
  100% {
    transform: translateX(0) rotate(360deg) scale(1);
  }
}

.input {
  color: rgb(139, 71, 71);
  width: 250px;
  height: 50px;
  border: 2px solid rgb(133, 161, 202);
  border-radius: 15px;
  padding: 10px;
  outline: none;
  color: dimgray;
}

.input:invalid {
  animation: justshake 0.1s forwards;
  color: red;
}

@keyframes justshake {
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX-(5px);
  }
}

/* ////////////////////////////////////////////////////////////////////// */

.loader {
  background-color: #3d5560;
  width: 320px;
  border-radius: 15px;
}

.loader div {
  position: relative;
  width: 40px;
  height: 200px;
  margin: 20px;
  overflow: hidden;
  border-radius: 40px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5));
  box-shadow: -8px -8px 8px rgba(0, 0, 0, 0.6);
}

.loader div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 40px;
  box-shadow: -5px -5px 5px rgba() 10px 10px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px 5px rgba(82, 82, 82), inset 10 10 10px rgba(0, 0, 0);
}

.loader div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  width: 26px;
  height: 26px;
  background: #ff0000;
  border-radius: 50%;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.2), 0 420px 0 400px #ffe700;
  animation: animate 2.5s ease-in-out infinite;
  transform: translateY(160px);
  animation-delay: calc(-0.2s * var(--i));
}
@keyframes animate {
  0% {
    transform: translateY(160px);
    filter: hue-rotate(180deg);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(160px);
    filter: hue-rotate(0deg);
  }
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 350px;
}
.shadow5 {
  border-radius: 50%;
  background: #101011;
  filter: blur(10px);
  opacity: 0.9;
  width: 350px;
  transform: translate(5px);
  height: 5px;
}
.loader3 {
  position: relative;
  width: 140px;
  height: 100px;
  color: rgb(31, 27, 27);
  margin-top: 50px;
  margin-left: 8rem;
}
.left1 {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 3.5rem;
  animation: rotateRight 11s linear infinite;
}
.right2 {
  position: absolute;
  right: -1px;
  top: -15px;
  font-size: 5rem;
  rotate: -5deg;
  animation: rotateLeft 10s linear infinite;
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* /////////////////////////////////////////////////////// */
.header-section {
  width: 100%;
  position: relative;
}

.dialog-section {
  opacity: 0;
  transform: translateY(-200%);
  display: flex;
  position: absolute;
  top: 65px;
  width: 200px;
  height: auto;
  padding-inline: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background: rgba(246, 244, 244, 0.95);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.container {
  width: 80%;
  height: 80%;
}

.btn-add {
  background: rgb(143, 143, 237);
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.rotate {
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}
.blur {
  filter: blur(5px) grayscale(1);
  opacity: 0.3;
}
.show {
  animation: show 0.5s ease-in-out forwards;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
