@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  min-height: calc(100vh - 113px);
  max-height: calc(100vh - 113px);
  background: #073263;
  background: linear-gradient(180deg, #073263, 70%, #466e9b);
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    border-radius: 8px;
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #466e9b;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
.animate-gradient {
  animation: rotateGradient 10s linear infinite;
  background: linear-gradient(45deg, #ff5252, #33d9b2, #ffb142, #6ab04c);
  background-size: 400% 400%;
}
@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient2 {
  animation: rotateGradient2 10s linear infinite;
  background: linear-gradient(45deg, #cbfde7, #e5c48e, #169c7f, #4cb079);
  background-size: 400% 400%;
}
@keyframes rotateGradient2 {
  0% {
    background-position: 5% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 5% 50%;
  }
}
.animate-gradient3 {
  animation: rotateGradient2 10s linear infinite;
  background: linear-gradient(45deg, #ff6b6b, #f8b195, #8ab6d6, #ffcc5c);
  background-size: 400% 400%;
}
@keyframes rotateGradient2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.animate-gradient4 {
  background: linear-gradient(45deg, #ff6b6b, #f8b195, #8ab6d6, #ffcc5c);
  background-size: 400% 400%;
}

#nav-icon {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    transform: scale(0.5);
  }
  


#nav-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: #073263;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }
  
  #nav-icon span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
  }
  
  #nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
    top: 18px;
  }
  
  #nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
    top: 36px;
  }
  
  #nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }
  
  #nav-icon.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }
  
  #nav-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  
  #nav-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  
  #nav-icon.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }
  
  #nav-icon.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }
